.Principal {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.ImageFloat {
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 40s;
}
@-webkit-keyframes run {
  0% {
    left: 5%;
  }
  50% {
    left: 85%;
  }
  100% {
    left: 5%;
  }
}
.ImageFloat img {
  width: 150px;
}
