.Button button {
  font-size: 17px;
  margin: 10px;
  width: 92%;
  background: none;
  border-radius: 5px;
  border: 1px solid rgb(156, 158, 2);
  padding: 5px;

  font-family: sans-serif;
}

.Button button:hover {
  background-color: rgb(181, 184, 26);
}
