.SideMenu button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}
.Side {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.Open {
  transform: translateX(0);
}
