.ContentLeft {
  width: 100%;
}

.ContentLeft img {
  width: 300px;
  margin: 90px;
  margin-top: 100px;
}
.Text {
  width: 700px;
  position: absolute;
  margin-top: 100px;
  margin-left: 40%;
}
.Text h1 {
  position: absolute;
  margin-left: 2%;
  margin-top: 7%;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: 1px solid rgb(156, 158, 2);
}

.Text p {
  position: absolute;
  margin-left: 2%;
  margin-top: 18%;
  font-size: 25px;
}
