.ContentLeft {
  width: 100%;
}

.ContentLeft img {
  width: 300px;
  margin: 80px;
  margin-top: 120px;
}
.Text {
  width: 700px;
  position: absolute;
  margin-top: 70px;
  margin-left: 40%;
}
.Text h1 {
  position: absolute;
  margin-left: 2%;
  margin-top: 7%;
  font-family: sans-serif;
  font-weight: bold;
}

.Text p {
  position: absolute;
  margin-left: 2%;
  margin-top: 18%;
  font-size: 25px;
}
