.Principal {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

.Principal h1 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid rgb(156, 158, 2);
  margin-bottom: 50px;
}

.Testimonials {
  width: 100%;
  height: 300px;
  margin: auto;

  margin-bottom: 30px;
  padding: 30px;
}
